body {
  margin-left: 30%;
  width: 30%;
  color:#4d4d4d;
  background-color: #e4e3e3;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button{
  background-color:white;
  width:25%;
}
button:hover  {
  cursor: pointer;
 color:orangered;
font-size: 15px;
}
h1{
  font-size: 45px;
  
}